<form [formGroup] = "formGroup">
  <section>
    <label for="name">Name</label>
    <!--anterior a reactive <input name="name" type="text" [(ngModel)]="projectname" placeholder="Project Name" />-->
    <input name="name" formControlName = "name" type="text" placeholder="Project Name"/>
    <span style="color: red">{{getError('name')}}</span>
    <input value="Save" type="submit" (click)="update.emit(formGroup)"/>
    <input value="Delete All Url" type="submit" (click)="deleteUrl()"/>
  </section>
  <!--<section>
      <ul *ngIf="addedProjects.length>0; else empty">
          <li *ngFor="let project of addedProjects">
            <span>{{ project.name }}</span>
          </li>
        </ul>
        <ng-template #empty>
          <i>No data yet</i>
        </ng-template>
  </section>-->
</form>
