<header class="sticky">
  <a routerLink="/" class="logo"> <span class="icon-home"></span> <span>{{ title
  }}</span> </a>
  <a routerLink="heroes" routerLinkActive="router-link-active" class="button">
  <span> Heroes</span>
  </a>
  <a routerLink="contacts" class="button">
    <span> Contacts</span>
    </a>
  <a routerLink="projects" class="button">
    <span> Proyectos </span>
  </a>
  <a routerLink="car" class="button">
    <span> coches </span>
  </a>
  <a routerLink="converter" class="button">
    <span> Converter</span>
  </a>
  <a routerLink="rates" class="button">
    <span> Rates </span>
  </a>
  <a routerLink="notifications" class="button">
    <span> Notifications </span>
  </a>
  <a routerLink="security/register" class="button">
    <span> Registro </span>
  </a>
  <a routerLink="security/secret" class="button">
    <span> Secret </span>
  </a>
  <a routerLink="about" routerLinkActive="router-link-active" class="button">
    <img width="32" style="vertical-align: -0.5em" src="./assets/logo.png" />
    <span> About us</span>
  </a>
</header>
